:root {
    margin: 0;
    padding: 0; 
}

nav {
    float: right;
    width: 50%;
    text-align: right;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0 4%;
}

.header {
    text-align: center;
}

.header img {
    width: 95%;
    text-align: center;
    margin: auto;
}