@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@font-face {
    font-family: 'Meadowbrook';
      src:  url('Meadowbrook.ttf.woff') format('woff'),
      url('Meadowbrook.ttf.svg#Meadowbrook') format('svg'),
      url('Meadowbrook.ttf.eot'),
      url('Meadowbrook.eot?#iefix') format('embedded-opentype');
    font-size: 100px; 
}

:root {
    margin: 0;
    padding: 0; 
    background-color: #fefdfb;
}

.title h1 {
    font-family: 'Meadowbrook';
    font-weight: lighter;
}

.title h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    letter-spacing: 0.1em;
    padding: 0;
}

nav {
    font-family: 'Amatic SC', cursive;
    font-weight: lighter;
    font-size: 28px;
}

.video_header {
    float: right;
    display: block;
    
}

.video_header h1, .about_me h1, .about_you h1 {
    font-family: 'Meadowbrook';
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.video_header h2, h3 {
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

.video_header h2 {
    margin-bottom: -60px;
}

.video_header h3 {
    text-align: right;
    margin-right: 10%;
    margin-top: -30px;
}

.youtube_video {
    display: block;
}

.about_me_image {
    float: left;
    width: 660px;
    margin: 2% 0 0 5%;
    padding: 0;
}

.about_me_image img {
    width: 100%;
}

.about_me h1, .about_you h1 {
    font-size: 125px;
}

.about_me { 
    width: 480px;
    float: right;
    margin: 5% 10% 0 0;
}

.about_you {
    width:480px;
    float: left; 
    margin: 12% 0 0 10%;
}

.about_me_text, .about_you_text {
    width: 100%;
}

.about_me p , .about_you p {
    font-family: 'Georgia';
    font-size: 16px;
    line-height: 34px;
}

.about_you_image {
    float: left;
    width: 660px;
    margin: 10% 0 0 5%;
    padding: 0;
}

.about_you_image img {
    width: 100%;
}




@media screen and (max-width:650px) {
    /* Mobile Version */
    .title {
        background-color: #fefdfb;
        width: 100%;
        text-align: center;
    }

    .title h1 {
        font-size: 75px;
        margin: 0;
        padding: 0;
    }

    .title h3 {
        font-size: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
        }
    #desktopimage {
        display: none;
    }

    .header img {
        margin: 50px 5% 130px 5%;
        width: 90%;
        }
    
    nav {
        display: none;
    }

    .video_header {
        float: left;
        margin: 3%;
    }

    .video_header h1 {
        font-size: 100px;
    }

    
    .video_header h2 {
        font-size: 40px;
        margin-bottom: -35px;
    }
    
    
    .video_header h3 {
        font-size:  28px;
        margin-top: -15px;
    }

    .youtube_video { 
        margin:  2.5%;
    }

    .youtube_video iframe {
        width: 450px;
        height: 260px;
    }

    p {
        font-size: 14px;
    }

}

@media screen and (min-width:650px) {
    /* Desktop Version */
    nav {
        float: right;
        width: 100%;
        text-align: right;
        padding: 10px;
    }

    nav ul li {
        padding: 0 2%;
        text-align: center;
    }

    .header {
        text-align: center;
        margin: 100px 2.5% 150px 2.5%;
        max-width: 95%;
    }

    #mobileimage {
        display: none;
    }

    .header img {
        width: 100%; 
    }

    .title h1 {
        font-size: 160px;
        margin: 0 0.5%;
    }

    .title h3 {
        margin: 0;
        padding-left: 450px;
    }

    .video_header {
        margin: 0 5% 5% 0;
    }

    .video_header h1 {
        font-size: 170px;
    }

    
    .video_header h2 {
        font-size: 55px;
        font-weight: lighter;
    }
    
    
    .video_header h3 {
        font-size:  40px;
    }


    nav ul li {
        display: inline-block;
        text-decoration: none;
    }

    .youtube_video iframe {
        width: 770px;
        height: 430px;
        margin: 0 15% 10% 15%;
    }

    .about_me_line, .about_you_line {
        background-color: black;
        width: 50%;
        height: 3px;
    }


}

@media screen and (max-width: 900px)  and (min-width:650px){
    /* IN BETWEEN STAGE/ TABLET */
    .title {
        width: 100%;
        text-align: center;
    }

    .title h1 {
        font-size: 100px;
        margin: 0;
        padding: 0;
        display: block;
    }

    .title h3 {
        font-size: 25px;
        margin: 0;
        padding: 0 0 0 240px;
        text-align: center;  
    }

    .header {
        text-align: center;
        margin: 100px 2.5%;
        width: 95%;
    }

    #mobileimage {
        display: none;
    }

    .video_header { 
        margin: 0 2.5% 5% 0;
    }

    .video_header h1 {
        font-size: 120px;
    }

    .video_header h2 { 
        margin-bottom: -40px;
        font-size: 45px;
    }

    .video_header h3 {
        margin-top: -20px;
        font-size: 30px
    }

    .youtube_video { 
        margin: 5%;
    }

    .youtube_video iframe {
        width: 610px;
        height: 340px;
        margin: 0;
    }

    nav {
        display: none;
    }  
}

@media screen and (max-width: 480px) {
    
    .video_header {
        margin: 0 2% 5% 2%;
    }
    
    .video_header h1 {
        font-size: 77px;
    }

    .video_header h2 {
        font-size: 30px;
        margin-bottom: -25px;
        
    }

    .video_header h3 {
        font-size: 25px;
        margin-top: -15px;
    }

    .youtube_video {
        width:100%;
        margin: 0 auto; 
    }
    .youtube_video iframe {
        width: 375px;
        height: 215px;
        margin: 0 auto; 
    }
        
    p {
        font-size: 11px;
    }

}