@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@font-face {
    font-family: 'Meadowbrook';
      src:  url('Meadowbrook.ttf.woff') format('woff'),
      url('Meadowbrook.ttf.svg#Meadowbrook') format('svg'),
      url('Meadowbrook.ttf.eot'),
      url('Meadowbrook.eot?#iefix') format('embedded-opentype');
    font-size: 100px; 
}

:root {
    margin: 0;
    padding: 0; 
}

.title h1 {
    font-family: 'Meadowbrook';
    font-size: 120px;
    font-weight: lighter;
}

.title h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    letter-spacing: 0.1em;
    padding: 0;
}

nav {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

.video_header h2, h3 {
    font-family: 'Amatic SC', cursive;
}
@media screen and (max-width:600px) {
    .title {
        position: fixed;
        top: 0; 
        background-color: white;
        width: 100%;
        text-align: center;
    }

    .title h1 {
        font-size: 82px;
        margin: 0;
        padding: 0;
    }

    .title h3 {
        font-size: 18px;
        margin: 0;
        padding: 0 40px 0 0;
        text-align: right;
    }

    nav {
        position: fixed; 
        bottom: 0; 
        width: 100%;
        background-color: white;
        text-align: center;

    }

    nav ul {
        background-color: blue;
    }
    nav ul li{
        padding: 0 4%;
        background-color: pink;
    }
}
@media screen and (min-width:600px) {
    nav {
        float: right;
        width: 100%;
        text-align: right;
        padding: 10px;
    }

    nav ul li {
        padding: 0 2%;
        text-align: center;
    }

    .header {
        text-align: center;
    }

    .header img {
        width: 95%;
        text-align: center;
        margin: auto;
    }

    .title h1 {
        font-size: 160px;
        margin: 0 0.5%;
    }

    .title h3 {
        margin: 0;
        padding-left: 450px;
    }
}

nav ul li {
    display: inline-block;
    text-decoration: none;
}

.video_header {
    margin: 5% 2.5% 5% 35%;
    width: 700px;
    background-color: pink;
}

.video_header h1, h2 {
    padding: 0; 
    margin: 0;
}

.video_header h2 {
    font-size: 40px;
    margin-bottom: -80px;
    margin-left: -10px;
}

.video_header h1 {
    font-size: 170px;
    font-family: 'Meadowbrook';
    background-color: blueviolet;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.video_header h3 {
    padding: 0;
    margin: -30px 0 0 0;
    text-align: right;
    font-size:  28px;
}

.youtube_video iframe {
    width: 750px;
    height: 400px;
    margin: 1.5% 0 0 5%;
}


@media screen and (max-width: 1000px) {
    .video_header {
        margin: 5% 8%;
    }
}

@media screen and (max-width: 800px) {
    .title {
        position: fixed;
        top: 0; 
        background-color: white;
        width: 100%;
        text-align: center;
    }

    .title h1 {
        font-size: 100px;
        margin: 0;
        padding: 0;
    }

    .title h3 {
        font-size: 18px;
        margin: 0;
        margin-right: 60px;
        padding: 0 80px 0 0;
        text-align: right;
    }

    .video_header {
        margin: 5%;
    }

    .video_header h1 {
        font-size: 150px;
    }

    .video_header h3 {
        margin: -30px 0 0 0;
        padding-right: 80px;
    }

    .youtube_video iframe {
        width: 700px;
        height: 350px;
    }
}